@model IEnumerable<MvcEventosAWS.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
}

<h1>Eventos</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoria)
                </td>
                <td>
                    <img height="200" width="200" src="@keys.S3BucketUrl@item.Imagen" />
                </td>
            </tr>
        }
    </tbody>
</table>
